// Font family
$font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
$font-family-alt: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

// Base font size
$font-size-base: 16px;

// Headings
$h1_font-size: 48px;
$h1_line-height: 50px;
$h1_font-size--small: 32px;
$h1_line-height--small: 35px;
$h1_font-weight: 700;

$h2_font-size: 36px;
$h2_line-height: 40px;
$h2_font-size--small: 27px;
$h2_line-height--small: 30px;
$h2_font-weight: 700;

$h3_font-size: 24px;
$h3_line-height: 30px;
$h3_font-size--small: 21px;
$h3_line-height--small: 25px;
$h3_font-weight: 700;

$h4_font-size: 19px;
$h4_line-height: 25px;
$h4_font-size--small: 16px;
$h4_line-height--small: 20px;
$h4_font-weight: 700;

$h5_font-size: 16px;
$h5_line-height: 20px;
$h5_font-size--small: 14px;
$h5_line-height--small: 24px;
$h5_font-weight: 700;

// Leader
$leader_font-size: 24px;
$leader_line-height: 30px;
$leader_font-size--small: 19px;
$leader_line-height--small: 25px;
$leader_font-weight: 300;

// Body
$body_font-size: 19px;
$body_line-height: 25px;
$body_font-size--small: 16px;
$body_line-height--small: 20px;
$body_font-weight: 400;

// Small
$small_font-size: 16px;
$small_line-height: 20px;
$small_font-size--small: 14px;
$small_line-height--small: 24px;
$small_font-weight: 400;

// :export {
//   fontFamily: $font-family;
//   fontSizeBase: $font-size-base;
//   h1FontSize: $h1_font-size;
//   h1LineHeight: $h1_line-height;
//   h1FontSizeSmall: $h1_font-size--small;
//   h1LineHeightSmall: $h1_line-height--small;
//   h1FontWeight: $h1_font-weight;
//   h2FontSize: $h2_font-size;
//   h2LineHeight: $h2_line-height;
//   h2FontSizeSmall: $h2_font-size--small;
//   h2LineHeightSmall: $h2_line-height--small;
//   h2FontWeight: $h2_font-weight;
//   h3FontSize: $h3_font-size;
//   h3LineHeight: $h3_line-height;
//   h3FontSizeSmall: $h3_font-size--small;
//   h3LineHeightSmall: $h3_line-height--small;
//   h3FontWeight: $h3_font-weight;
//   h4FontSize: $h4_font-size;
//   h4LineHeight: $h4_line-height;
//   h4FontSizeSmall: $h4_font-size--small;
//   h4LineHeightSmall: $h4_line-height--small;
//   h4FontWeight: $h4_font-weight;
//   h5FontSize: $h5_font-size;
//   h5LineHeight: $h5_line-height;
//   h5FontSizeSmall: $h5_font-size--small;
//   h5LineHeightSmall: $h5_line-height--small;
//   h5FontWeight: $h5_font-weight;
//   leaderFontSize: $leader_font-size;
//   leaderLineHeight: $leader_line-height;
//   leaderFontSizeSmall: $leader_font-size--small;
//   leaderLineHeightSmall: $leader_line-height--small;
//   leaderFontWeight: $leader_font-weight;
//   bodyFontSize: $body_font-size;
//   bodyLineHeight: $body_line-height;
//   bodyFontSizeSmall: $body_font-size--small;
//   bodyLineHeightSmall: $body_line-height--small;
//   bodyFontWeight: $body_font-weight;
//   smallFontSize: $small_font-size;
//   smallLineHeight: $small_line-height;
//   smallFontSizeSmall: $small_font-size--small;
//   smallLineHeightSmall: $small_line-height--small;
//   smallFontWeight: $small_font-weight;
// }
